*.elc
*~
/ac-comphist.dat
/.org-id-locations
request
tramp
url
var
/.python-environments/
/.#.org-id-locations
/bookmarks
/cache/
/packages/jedi-20140321.1323/jedi-port.log
/eshell/
/#init.el#
/.#init.el
/.#tramp
/projectile-bookmarks.eld
/projectile.cache
/recentf
/packages
/elpa/
/semanticdb/
/lib/defproject/
/ensime
